@import url('https://fonts.googleapis.com/css?family=Roboto');
@font-face {
    font-family: Lombok;
    src: url("static/fonts/Lombok.otf") format("opentype");
}

.parallax {
    min-height: 680px; 
    position: relative;
    background-attachment: fixed !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
    overflow-x: hidden;
}

body {
    background: white;
    font-family: 'montserrat-regular', sans-serif;
}

a {
    text-decoration: none;
    color: #5498CC;
    -webkit-transition: .5s ease;
    transition: .5s ease;
}

a:hover {
    color: #6698BB;
}


h1 {
    font-weight: 300;
    margin: 0 0 40px;
}

.button, .hospitals {
    border: 0;
    outline: none;
    border-radius: 0;
    padding: 15px 0;
    font-size: 2rem;
    letter-spacing: .1em;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-appearance: none;
}

.button:hover{
    background: #D41919;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #E15F5F;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  margin-left: -130px;
  margin-top: 5px;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

